@use "../var";
@import "../mixins";
#welcome {
	width: 100vw;
	background-image: url("../../public/welcome.jpeg");
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
	position: relative;
	.content {
		position: absolute;
		bottom: 0;
		height: max-content;
		margin: 0 auto;
		width: 100%;
		text-align: center;
		margin-bottom: 30vh;
		padding-bottom: 1.5rem;
		background-color: #ffffff40;
		@include flex-container(column, center, center, nowrap);
	}
}
#room-container {
	width: 90vw;
	overflow: hidden;
}
#home-page {
	z-index: 1;
	> .content {
		z-index: 1;
		padding: 1rem;
		width: 100%;
		height: 100%;
		@include flex-container(row, center, flex-start, nowrap);

		justify-content: stretch;
		align-items: stretch;
		gap: 1rem;
		.room-container {
			grid-column: 1/2;
			grid-row: 1/2;
			.avatar-container {
				position: absolute;
				bottom: 0;
				z-index: 100;
			}
			#room {
				width: 700px;
				position: relative;
				z-index: -1;
				.title {
					position: fixed;
					z-index: 10;
					background-color: var.$text;
					color: var.$bg;
					padding-inline: 1rem;
					padding-block: 0.5rem;
					border-bottom-right-radius: 0.25rem;
				}

				.picture {
					border: 4px solid var.$text;
					position: fixed;
					z-index: 1;
				}
			}
		}
		.fixed-header {
			z-index: 1000;
			position: fixed;
			width: 100%;
			height: 9.5rem;
			margin-top: -1rem;
			padding-top: 1rem;
			background-color: var.$bg;
		}
		.fixed-header-spacer {
			height: 8rem;
		}

		.cta {
			z-index: 2;
		}
	}
}
// .avatar-container {
// 	background-color: #00000020;
// 	color: var.$bg;
// 	position: absolute;
// 	backdrop-filter: blur(10px);
// 	-webkit-backdrop-filter: blur(10px);
// 	border-radius: 1rem;
// 	@include flex-container(column, center, center, nowrap);
// }
.quick-actions {
	grid-row: 1/3;
	grid-column: 3/4;
	padding: 1rem;
	padding-bottom: 10rem;
	background-color: #ffffff20;
	color: var.$text;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	> .header {
		text-align: center;
		@include flex-container(column, center, center, nowrap);
		background-color: var.$primary-light;
		border: 1px solid var.$primary-dark;
		margin-block: 1rem;
		padding-block: 1rem;
		border-radius: 0.5rem;
	}
	> .action-card {
		margin-bottom: 1rem;
		color: var.$text;
		@extend .shadow-card;
		@include flex-container(column, flex-start, flex-start, nowrap);
		// padding: 0;
		padding-block: 0;

		p {
			margin-block: 0.5rem;
		}
		.icon {
			.MuiSvgIcon-root {
				font-size: 3rem;
			}
		}
		.content {
			padding: 1rem;
			width: 100%;
			@include flex-container(column, flex-start, flex-start, nowrap);
			.header {
				margin-bottom: 1rem;

				* {
					margin-block: 0;
				}
			}
			.stats {
				width: 100%;
				@include flex-container(column, flex-start, flex-start, nowrap);
				.reward {
					@include flex-container(row, center, center, nowrap);
					gap: 0.5rem;
				}
			}
		}
		.img-wrapper {
			margin-top: 1rem;
			box-sizing: content-box;
			position: relative;
			border-radius: 0.5rem;
			margin-bottom: 1rem;
			overflow: hidden;
			@include flex-container(row, flex-start, flex-start, nowrap);
			.content {
				padding: 0 1rem;
			}
		}
		/* the magic happens here */
		.image-wrapper > div {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
				0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;
		}
	}
}
#create-account {
	.form-container {
		@include flex-container(row, center, flex-start, wrap);
		gap: 2;
	}
}
