@use "../var";
@import "../mixins";
#home-page {
	height: 100%;
	.content {
		padding: 1rem;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-template-rows: auto 1fr;

		grid-template-areas: "cta cta" "home avatar";
		justify-content: stretch;
		align-items: stretch;
		gap: 1rem;
		.home {
			grid-area: home;
			position: relative;
			.room {
				width: 100%;
				height: 100%;
				z-index: 1;
			}
			border-radius: 0.5rem;
			box-shadow: var.$shadow;
		}
		.avatar-container {
			grid-area: avatar;
			top: 0;

			@include flex-container(column, center, center, nowrap);
		}
		.cta {
			grid-area: cta;
			z-index: 2;
		}
		.quick-actions {
			grid-area: quick-actions;
		}
	}
}
