@use "../var";
@import "../mixins";

#page-header {
	z-index: 10 !important;
	padding: 1rem 2rem;
	@include flex-container(row, space-between, flex-end, nowrap);
	.logo {
		background-color: var.$primary-dark;
		height: 2.5rem;
		width: 2.5rem;
		border-radius: 0.75rem;
	}
	nav {
		@include flex-container(row, center, flex-end, nowrap);
		gap: 1.5rem;
		a {
			text-decoration: none;
			color: var.$primary-dark;
			font-size: 1.5rem;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.user {
		@extend .shadow-card;
		@include flex-container(row, flex-end, center, nowrap);
		gap: 1rem;
		padding: 0.5rem 1rem;
		.avatar {
			height: 2rem;
			width: 2rem;
			border-radius: 1rem;
			background-color: var.$primary-light;
			@include flex-container(column, center, center, nowrap);
		}
	}
	background-color: var.$primary-light;
}
