@use "../var";
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	font-size: 1.25rem;
}
button.secondary {
	border: 1px solid var.$primary-dark;
	color: var.$primary-dark;
}
button.primary {
	color: var.$bg;
	background: linear-gradient(
		270deg,
		#0d5c7d -50%,
		#005495 20%,
		#025697 80%,
		#0e5c80 150%
	);
	&.full {
		width: 100%;
	}
	&.wide {
		width: 20rem;
	}
}
.button-group {
	@include flex-container(row, center, center, nowrap);
	gap: 0.5rem;
}
.mt {
	margin-top: 0.5rem;
}

.center {
	@include flex-container(column, center, center, nowrap);
	margin: 0 auto;
}
